<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% head %}
<title>{{ site.title }} - {% if article %} {{ article.title }} {% else %} {{ site.subtitle }}  {% endif %}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{{ '1' | stylesheet }}
{{ 'red' | stylesheet }}   
{{ 'railsbuch' | stylesheet }}
{{ 'contact_form' | stylesheet }}
{{ head.feed }}
{%endhead%}
<body>

		<div id="header">
		
				<h1><a href="/">{{ site.title }}</a></h1>
              <!-- <h3>{{ site.subtitle }}</h3>  -->
				<h2>Ruby on Rails 2  - Das Entwickler-Handbuch</h2>
				<h3>Hussein Morsy, Tanja Otto</h3>
				<p>Galileo Computing<br />
           699 S., 2008, geb., mit DVD<br />
           39,90 Euro,ISBN 978-3-89842-779-1</p>
				
				<ul id="nav">
					<li><a href="/">Home</a></li>
					{% for page in site.page_sections %}<li>{{ page | link_to_section }}</li>{% endfor %}
				</ul>
		</div>
		<div id="container">
			<div id="content">
				{{ content_for_layout }}
			</div>
			
			<div id="sidebar">
			<h3>Search</h3>
      		<form method="get" id="sform" action="/search">
       		 <label for="q">Search:</label>
				<input type="text" id="q" value="" name="q" size="15" />
				</form>
				<h3>Categories</h3>
				<ul>
					{% for category in site.blog_sections %}<li>{{ category | link_to_section  }}</li>{% endfor %}
				</ul>
				
				<h3>Latest Posts</h3>
				<ul>
					{% for latestarticle in site.latest_articles: 5 %}<li>{{ latestarticle | link_to_article}}</li>{% endfor %}
				</ul>
			</div>
		
		</div>
		<div id="footer">
<p class="validate"><a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/">CSS</a><a href="#content"></p>

<!-- Please leave this line intact -->
<p>&copy; Hussein Morsy &amp; Tanja Otto &bull; Based on Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.
<a href="http://mephistoblog.com/">Mephisto</a> theme port by <a href="http://www.stuartloxton.com">Stuart Loxton</a>
<!-- you can delete below here --></p>
</div>
</body>
</html>