{% if article.comments_count > 0 %}
	<h3 id="comments">{{ article.comments_count | pluralize: 'Kommentar','Kommentare' }} zum Artikel &#8220;{{ article.title }}&#8221;</h3> 
	<ol class="commentlist">
	{% for comment in article.comments %}
		<li class="{% cycle 'alt', '' %}" id="comment-{{ comment.id }}">
			<cite>{{ comment.author_link }}</cite> Says:
			<br />
			<small class="commentmetadata"><a href="#comment-{{ comment.id }}" title="">{{ comment.created_at |  date: '%d.%m.%Y um %H:%M'}} at {{ comment.created_at | format_date: 'time_only' }}</a></small>
			{{ comment.body }}
		</li>
  {% endfor %}
	</ol>
{% endif %}


{% if article.accept_comments %}

<h3 id="respond">Neuen Kommentar erstellen</h3>
{% commentform %}
  <p>
    <label for="author"><small>Name</small></label><br />
    {{ form.name }}
  </p>
  <p>
    <label for="email"><small>E-Mail (wird nicht veröffentlicht)</small></label><br />
    {{ form.email }}
  </p>
  <p>
    <label for="url"><small>Website (optional)</small></label><br />
    {{ form.url }}
  </p>
  <p><textarea name="comment[body]" id="comment" cols="100%" rows="10"></textarea></p>
  <p><input name="submit" type="submit" id="submit" value="Abschicken" /></p>
{% endcommentform %}

{% else %}
<p>Sorry, comments are closed for this article.</p>
{% endif %}
