{% for article in articles %}
<h2>{{ article | link_to_article }}</h2>
	<div class="articleinfo">
    Veröffentlicht am {{ article.published_at | date: '%d.%m.%Y um %H:%M'}}
	   von {{ article.author.login }}
	   {% if article.accept_comments %} |
	    <a href="{{ article.url }}#comments" class="commentslink">{{ article.comments_count | pluralize: 'Kommentar','Kommentare' }}  &#187;</a>
	   {% endif %} 
	   <!-- | <span class="filedto">Filed in {{ article | linked_section_list }}</span> -->
	</div>
		<div class="entrybody">
	  {% if article.excerpt %}
	    {{ article.excerpt }}
	    {% unless mode == 'single' %}
		  <a href="{{ article.url }}">weiter (ausführlicher Artikel)</a>
		  {% endunless %}
		{% else %}
		  {% unless mode == 'single' %}{{ article.body }}{% endunless %}
		{% endif %}
		{% if mode == 'single' %}
		  {{ article.body }}
		{% endif %}
	</div>
{% if mode == 'single' %}
  <div class="commentsblock">
    {% include 'comments' %}
  </div>
{% endif %}
{% endfor %}